<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MatriculasDbContext" connectionString="metadata=res://*/ModelMatriculas.csdl|res://*/ModelMatriculas.ssdl|res://*/ModelMatriculas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DAVID\SQLEXPRESS;initial catalog=Matriculas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>